# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/delimitation-frontend/node_modules
/delimitation-frontend/.pnp
/delimitation-frontend.pnp.js

# testing
/delimitation-frontend/coverage

# production
/delimitation-frontend/build

# misc
/delimitation-frontend.DS_Store
/delimitation-frontend.env.local
/delimitation-frontend.env.development.local
/delimitation-frontend.env.test.local
/delimitation-frontend.env.production.local

/delimitation-frontendnpm-debug.log*
/delimitation-frontendyarn-debug.log*
/delimitation-frontendyarn-error.log*

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
