table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: .2rem solid black;
    border-spacing: 0;
}

.border {
    background-color: #f3f3f3;
}

.highlightedBorder {
    background-color: yellow;
}

.possibleMove:hover {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}